<div style="display: flex; flex-direction: column; height: 100%;">
    <MudNavMenu>
        <MudNavLink Href="home" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Dashboard">Home</MudNavLink>
        <MudNavLink Href="tasks" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Task">Tasks</MudNavLink>
        <AuthorizeView Roles="Admin">
            <MudNavLink Href="users" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.People">Users</MudNavLink>
        </AuthorizeView>
        <MudNavLink Href="logout" Icon="@Icons.Material.Filled.Logout">Logout</MudNavLink>
    </MudNavMenu>
</div>
