@page "/home"
@using TaskManager.Data
@using Microsoft.EntityFrameworkCore
@inject AppDbContext _context

<PageTitle>Home</PageTitle>

<h1>Dashboard</h1>

<AuthorizeView>
    <Authorized>
        <h2>Tareas por Estado</h2>
        <!-- Gráfico de pastel para mostrar los porcentajes de cada estado de las tareas -->
        <div>
            <MudChart ChartType="ChartType.Pie" InputData="@statusData" InputLabels="@statusLabels" Width="100%" Height="350px" />
        </div>
    </Authorized>
</AuthorizeView>

@code {
    public double[] statusData = Array.Empty<double>();
    public string[] statusLabels = Array.Empty<string>();

    protected override async Task OnInitializedAsync()
    {
        var tasksByStatus = await _context.Tasks
            .Include(t => t.TaskState)
            .GroupBy(t => t.TaskState.StateName)
            .Select(group => new { StateName = group.Key, Count = group.Count() })
            .ToListAsync();

        statusData = tasksByStatus.Select(x => (double)x.Count).ToArray();
        statusLabels = tasksByStatus.Select(x => x.StateName).ToArray();
    }
}
