@page "/"
@attribute [AllowAnonymous]

<link href="/index.css" rel="stylesheet" />

<body>
    <div class="container">
        <header>
            <h1>TaskManager</h1>
            <p>Gestiona tus tareas de manera eficiente<br />Proyecto creado para el proceso de selección de EVOTEC<br /> por <b>Brian Sebastian Anco Copaja</b></p>
        </header>
        <div class="banner">
            <img src="https://via.placeholder.com/1200x400" alt="TaskManager Banner">
        </div>
        <div class="cta">
            <h2>Únete a TaskManager hoy mismo</h2>
            <p>Regístrate ahora y comienza a mejorar tu productividad</p>
            <button class="register-btn" onclick="window.location.href='/register'">Regístrate Gratis</button>
            <button class="login-btn" onclick="window.location.href='/login'">Iniciar Sesión</button>
        </div>
    </div>
</body>